$interval-very-small: 5px;
$interval-x-small: 8px;
$interval-smaller: 10px;
$interval-small: 12px;
$interval-base: 16px;
$interval-x-middle: 18px;
$interval-mid: 20px;
$interval-large: 24px;
$interval-l-large: 28px;
$interval-x-large: 32px;
$interval-xx-large: 40px;
$interval-mega: 48px;
$interval-ultra: 60px;
$interval-ultra-large: 80px;