@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
.container {
  padding-top: 20px;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}
button {
  font-family: "Nunito", sans-serif;
}
:root {
  --color-for-button: #fe7200;
  --background-main-color: #fbfbfd;
  --background-card-task: #ffffff;
  --color-for-base-text: #1c1e28;
  --color-for-inactive-text: #a2a2a2;
  --color-for-alt-text: #6f768f;
  --color-for-delimiters: #eaeaea;
  --base-color-r: #dd1f1f;
  --base-color-g: #41bc07;
  --base-color-indicator: #6DC146;
  --base-color-o: #ecbc10;
  --background-for-tag-r: #f2b3b3;
  --background-for-tags: rgba(155, 93, 255, 0.5);
  --background-option: #f3f3f9;
  --background-base-for-item: rgba(182, 141, 141, 0.5);
  --drop-shadow-for-item: 9px 11px 13px 0px #00000040;
  --background-for-button: #ffeecb;
  --text-disabled: #686868;
  --text-default: #1B1B1B;
  --text-condition: #616161;
  --drop-shadow-base: -4px 0px 33px 3px rgba(0,0,0,0.1);
  --border-for-input: #B7B7B7;
}
